.timer_container {
  text-align: center;
}

.timer {
  font-size: 4.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: none;
}

.elapsed_time {
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: none;
}

.btn_interact {
  padding: 0.5rem;
  background: #db7093;
  color: #ccfff6;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 0 10px;
  min-width: 100px;
  max-width: 100px;
}
