* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.wrapper {
  position: relative;
  height: 56px;
  width: 200px;
  padding: 1px;
}

.input {
  background: #ccc;
  position: relative;
  z-index: 2;
}
